.view-slider {
    margin: auto;
    width: 80%;
    height: auto;
}

.carousel.carousel-slider{
    height: auto;
}

img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
  }