.view-slider {
    margin: auto;
    width: 80%;
    height: auto;
}

.carousel.carousel-slider{
    height: auto;
}

img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.body {
    margin-top: 40px;
}

.filter-form{
    color: rgb(62, 13, 13);
}

.main-body-customer{
    border-left: 1px solid rgb(33, 36, 31);
    height: auto;
}